{% extends '@layout/default.html.twig' %}

{% block title %}Create Customer :: {{ parent() }}{% endblock %}

{% block page_header %}Customers{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                {% set options = {title: 'New Customer', method: 'POST', action: url('admin.customers.create')} %}
                {% include '@app/customer/_form.html.twig' with options %}
            </div>
        </div>
    </div>
{% endblock %}
