{% extends '@layout/default.html.twig' %}

{% block title %}Delete Customer :: {{ parent() }}{% endblock %}

{% block page_header %}Customers{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                {% set options = {title: 'Delete Customer', method: 'DELETE', action: url('admin.customers.delete', {'id': form.getObject().id})} %}
                {% include '@app/customer/_form.html.twig' with options %}
            </div>
        </div>
    </div>
{% endblock %}
